apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-block-test
  labels:
    app: nginx
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx
          ports:
            - containerPort: 80
          volumeDevices:
            - devicePath: /dev/nvmf
              name: nvmf-volume
      volumes:
        - name: nvmf-volume
          persistentVolumeClaim:
            claimName: csi-nvmf-pvc